<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
</head>
	<!-- Não pode falar que não tem CSS  -->
	<style type="text/css"> 
		h1 {
			background-color: pink;
			color: white;
		}

		p {
			border: 2px dashed blue;
		}
	</style>
<body>
	<h1>Falatu menor</h1>
	<h3>Seja bem-vindo à pagina de ajuda desse projeto muito supimpa.</h2>
	<p>Se você tá precisando de ajuda, veio pro lugar certo!</p>
</body>
</html>