<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
	<!-- Não pode falar que não tem CSS  -->
	<style type="text/css"> 
		h1 {
			background-color: pink;
			color: white;
		}
	</style>
<body>
	<h1>Falatu menor</h1>
	<h3>Seja bem-vindo à pagina inicial desse projeto muito supimpa.</h2>
</body>
</html>